#N
axi_awaddr_o.*
axi_awlen_o.*
axi_awsize_o.*
axi_awburst_o.*
axi_awvalid_o
axi_awready_i

axi_wdata_o.*
axi_wstrb_o.*
axi_wlast_o
axi_wvalid_o
axi_wready_i

axi_bready_o
axi_bresp_i.*
axi_bvalid_i

clk_i
rst_n_i
ext_irq_i
timer_irq_i
commit_valid_o

#S
axi_araddr_o.*
axi_arlen_o.*
axi_arsize_o.*
axi_arburst_o.*
axi_arvalid_o
axi_arready_i

axi_rdata_i.*
axi_rlast_i
axi_rready_o
axi_rresp_i.*
axi_rvalid_i

trap_taken_o
trap_cause_o.*
debug_state_o.*
debug_branch_taken_o
debug_take_branch_jump_o
debug_pc_src_o
debug_ebreak_o

#E
apb_paddr_i.*
apb_psel_i
apb_penable_i
apb_pwrite_i
apb_pwdata_i.*

apb_prdata_o.*
apb_pready_o
apb_pslverr_o

debug_rs1_data_o.*

#W
commit_pc_o.*
commit_insn_o.*

debug_rs2_data_o.*
