#N
axi_rdata_i\[21\]
axi_rdata_i\[22\]
axi_rdata_i\[23\]
axi_rdata_i\[24\]
axi_rdata_i\[25\]
axi_rdata_i\[26\]
axi_rdata_i\[27\]
axi_rdata_i\[28\]
axi_rdata_i\[29\]
axi_rdata_i\[30\]
axi_rdata_i\[31\]
axi_rlast_i
axi_rready_o
axi_rresp_i\[0\]
axi_rresp_i\[1\]
axi_rvalid_i
axi_awaddr_o\[0\]
axi_awaddr_o\[1\]
axi_awaddr_o\[2\]
axi_awaddr_o\[3\]
axi_awaddr_o\[4\]
axi_awaddr_o\[5\]
axi_awaddr_o\[6\]
axi_awaddr_o\[7\]
axi_awaddr_o\[8\]
axi_awaddr_o\[9\]
axi_awaddr_o\[10\]
axi_awaddr_o\[11\]
axi_awaddr_o\[12\]
axi_awaddr_o\[13\]
axi_awaddr_o\[14\]
axi_awaddr_o\[15\]
axi_awaddr_o\[16\]
axi_awaddr_o\[17\]
axi_awaddr_o\[18\]
axi_awaddr_o\[19\]
axi_awaddr_o\[20\]
axi_awaddr_o\[21\]
axi_awaddr_o\[22\]
axi_awaddr_o\[23\]
axi_awaddr_o\[24\]
axi_awaddr_o\[25\]
axi_awaddr_o\[26\]
axi_awaddr_o\[27\]
axi_awaddr_o\[28\]
axi_awaddr_o\[29\]
axi_awaddr_o\[30\]
axi_awaddr_o\[31\]
axi_awburst_o\[0\]
axi_awburst_o\[1\]
axi_awlen_o\[0\]
axi_awlen_o\[1\]
axi_awlen_o\[2\]
axi_awlen_o\[3\]
axi_awlen_o\[4\]
axi_awlen_o\[5\]
axi_awlen_o\[6\]
axi_awlen_o\[7\]
axi_awready_i
axi_awsize_o\[0\]
axi_awsize_o\[1\]
axi_awsize_o\[2\]
axi_awvalid_o
axi_bready_o
axi_bresp_i\[0\]
axi_bresp_i\[1\]
axi_bvalid_i
axi_wdata_o\[0\]
axi_wdata_o\[1\]
axi_wdata_o\[2\]
axi_wdata_o\[3\]
axi_wdata_o\[4\]
axi_wdata_o\[5\]
axi_wdata_o\[6\]
axi_wdata_o\[7\]
axi_wdata_o\[8\]
axi_wdata_o\[9\]
axi_wdata_o\[10\]
axi_wdata_o\[11\]
axi_wdata_o\[12\]
axi_wdata_o\[13\]
axi_wdata_o\[14\]
axi_wdata_o\[15\]
axi_wdata_o\[16\]
axi_wdata_o\[17\]
axi_wdata_o\[18\]
axi_wdata_o\[19\]
axi_wdata_o\[20\]
axi_wdata_o\[21\]
axi_wdata_o\[22\]
axi_wdata_o\[23\]
axi_wdata_o\[24\]
axi_wdata_o\[25\]
axi_wdata_o\[26\]
axi_wdata_o\[27\]
axi_wdata_o\[28\]
axi_wdata_o\[29\]
axi_wdata_o\[30\]
axi_wdata_o\[31\]
axi_wlast_o
axi_wready_i
axi_wstrb_o\[0\]
axi_wstrb_o\[1\]
axi_wstrb_o\[2\]
axi_wstrb_o\[3\]
axi_wvalid_o
commit_insn_o\[0\]
commit_insn_o\[1\]
commit_insn_o\[2\]
commit_insn_o\[3\]
commit_insn_o\[4\]
commit_insn_o\[5\]
commit_insn_o\[6\]
commit_insn_o\[7\]
commit_insn_o\[8\]
commit_insn_o\[9\]
commit_insn_o\[10\]
commit_insn_o\[11\]
commit_insn_o\[12\]
commit_insn_o\[13\]
commit_insn_o\[14\]
commit_insn_o\[15\]
commit_insn_o\[16\]
commit_insn_o\[17\]
commit_insn_o\[18\]
commit_insn_o\[19\]
#E
apb_paddr_i\[0\]
apb_paddr_i\[1\]
apb_paddr_i\[2\]
apb_paddr_i\[3\]
apb_paddr_i\[4\]
apb_paddr_i\[5\]
apb_paddr_i\[6\]
apb_paddr_i\[7\]
apb_paddr_i\[8\]
apb_paddr_i\[9\]
apb_paddr_i\[10\]
apb_paddr_i\[11\]
apb_penable_i
apb_prdata_o\[0\]
apb_prdata_o\[1\]
apb_prdata_o\[2\]
apb_prdata_o\[3\]
apb_prdata_o\[4\]
apb_prdata_o\[5\]
apb_prdata_o\[6\]
apb_prdata_o\[7\]
apb_prdata_o\[8\]
apb_prdata_o\[9\]
apb_prdata_o\[10\]
apb_prdata_o\[11\]
apb_prdata_o\[12\]
apb_prdata_o\[13\]
apb_prdata_o\[14\]
apb_prdata_o\[15\]
apb_prdata_o\[16\]
apb_prdata_o\[17\]
apb_prdata_o\[18\]
apb_prdata_o\[19\]
apb_prdata_o\[20\]
apb_prdata_o\[21\]
apb_prdata_o\[22\]
apb_prdata_o\[23\]
apb_prdata_o\[24\]
apb_prdata_o\[25\]
apb_prdata_o\[26\]
apb_prdata_o\[27\]
apb_prdata_o\[28\]
apb_prdata_o\[29\]
apb_prdata_o\[30\]
apb_prdata_o\[31\]
apb_pready_o
apb_psel_i
apb_pslverr_o
apb_pwdata_i\[0\]
apb_pwdata_i\[1\]
apb_pwdata_i\[2\]
apb_pwdata_i\[3\]
apb_pwdata_i\[4\]
apb_pwdata_i\[5\]
apb_pwdata_i\[6\]
apb_pwdata_i\[7\]
apb_pwdata_i\[8\]
apb_pwdata_i\[9\]
apb_pwdata_i\[10\]
apb_pwdata_i\[11\]
apb_pwdata_i\[12\]
apb_pwdata_i\[13\]
apb_pwdata_i\[14\]
apb_pwdata_i\[15\]
apb_pwdata_i\[16\]
apb_pwdata_i\[17\]
apb_pwdata_i\[18\]
apb_pwdata_i\[19\]
apb_pwdata_i\[20\]
apb_pwdata_i\[21\]
apb_pwdata_i\[22\]
apb_pwdata_i\[23\]
apb_pwdata_i\[24\]
apb_pwdata_i\[25\]
apb_pwdata_i\[26\]
apb_pwdata_i\[27\]
apb_pwdata_i\[28\]
apb_pwdata_i\[29\]
apb_pwdata_i\[30\]
apb_pwdata_i\[31\]
apb_pwrite_i
commit_insn_o\[20\]
commit_insn_o\[21\]
commit_insn_o\[22\]
commit_insn_o\[23\]
commit_insn_o\[24\]
commit_insn_o\[25\]
commit_insn_o\[26\]
commit_insn_o\[27\]
commit_insn_o\[28\]
commit_insn_o\[29\]
commit_insn_o\[30\]
commit_insn_o\[31\]
commit_pc_o\[0\]
commit_pc_o\[1\]
commit_pc_o\[2\]
commit_pc_o\[3\]
commit_pc_o\[4\]
commit_pc_o\[5\]
commit_pc_o\[6\]
commit_pc_o\[7\]
commit_pc_o\[8\]
commit_pc_o\[9\]
commit_pc_o\[10\]
commit_pc_o\[11\]
commit_pc_o\[12\]
commit_pc_o\[13\]
commit_pc_o\[14\]
commit_pc_o\[15\]
commit_pc_o\[16\]
commit_pc_o\[17\]
commit_pc_o\[18\]
commit_pc_o\[19\]
commit_pc_o\[20\]
commit_pc_o\[21\]
commit_pc_o\[22\]
commit_pc_o\[23\]
commit_pc_o\[24\]
commit_pc_o\[25\]
commit_pc_o\[26\]
commit_pc_o\[27\]
commit_pc_o\[28\]
commit_pc_o\[29\]
commit_pc_o\[30\]
commit_pc_o\[31\]
commit_valid_o
#S
clk_i
rst_n_i
ext_irq_i
timer_irq_i
debug_branch_taken_o
debug_ebreak_o
debug_pc_src_o
debug_rs1_data_o\[0\]
debug_rs1_data_o\[1\]
debug_rs1_data_o\[2\]
debug_rs1_data_o\[3\]
debug_rs1_data_o\[4\]
debug_rs1_data_o\[5\]
debug_rs1_data_o\[6\]
debug_rs1_data_o\[7\]
debug_rs1_data_o\[8\]
debug_rs1_data_o\[9\]
debug_rs1_data_o\[10\]
debug_rs1_data_o\[11\]
debug_rs1_data_o\[12\]
debug_rs1_data_o\[13\]
debug_rs1_data_o\[14\]
debug_rs1_data_o\[15\]
debug_rs1_data_o\[16\]
debug_rs1_data_o\[17\]
debug_rs1_data_o\[18\]
debug_rs1_data_o\[19\]
debug_rs1_data_o\[20\]
debug_rs1_data_o\[21\]
debug_rs1_data_o\[22\]
debug_rs1_data_o\[23\]
debug_rs1_data_o\[24\]
debug_rs1_data_o\[25\]
debug_rs1_data_o\[26\]
debug_rs1_data_o\[27\]
debug_rs1_data_o\[28\]
debug_rs1_data_o\[29\]
debug_rs1_data_o\[30\]
debug_rs1_data_o\[31\]
debug_rs2_data_o\[0\]
debug_rs2_data_o\[1\]
debug_rs2_data_o\[2\]
debug_rs2_data_o\[3\]
debug_rs2_data_o\[4\]
debug_rs2_data_o\[5\]
debug_rs2_data_o\[6\]
debug_rs2_data_o\[7\]
debug_rs2_data_o\[8\]
debug_rs2_data_o\[9\]
debug_rs2_data_o\[10\]
debug_rs2_data_o\[11\]
debug_rs2_data_o\[12\]
debug_rs2_data_o\[13\]
debug_rs2_data_o\[14\]
debug_rs2_data_o\[15\]
debug_rs2_data_o\[16\]
debug_rs2_data_o\[17\]
debug_rs2_data_o\[18\]
debug_rs2_data_o\[19\]
debug_rs2_data_o\[20\]
debug_rs2_data_o\[21\]
debug_rs2_data_o\[22\]
debug_rs2_data_o\[23\]
debug_rs2_data_o\[24\]
debug_rs2_data_o\[25\]
debug_rs2_data_o\[26\]
debug_rs2_data_o\[27\]
debug_rs2_data_o\[28\]
debug_rs2_data_o\[29\]
debug_rs2_data_o\[30\]
debug_rs2_data_o\[31\]
debug_state_o\[0\]
debug_state_o\[1\]
debug_state_o\[2\]
debug_state_o\[3\]
debug_take_branch_jump_o
trap_cause_o\[0\]
trap_cause_o\[1\]
trap_cause_o\[2\]
trap_cause_o\[3\]
trap_taken_o
#W
axi_araddr_o\[0\]
axi_araddr_o\[1\]
axi_araddr_o\[2\]
axi_araddr_o\[3\]
axi_araddr_o\[4\]
axi_araddr_o\[5\]
axi_araddr_o\[6\]
axi_araddr_o\[7\]
axi_araddr_o\[8\]
axi_araddr_o\[9\]
axi_araddr_o\[10\]
axi_araddr_o\[11\]
axi_araddr_o\[12\]
axi_araddr_o\[13\]
axi_araddr_o\[14\]
axi_araddr_o\[15\]
axi_araddr_o\[16\]
axi_araddr_o\[17\]
axi_araddr_o\[18\]
axi_araddr_o\[19\]
axi_araddr_o\[20\]
axi_araddr_o\[21\]
axi_araddr_o\[22\]
axi_araddr_o\[23\]
axi_araddr_o\[24\]
axi_araddr_o\[25\]
axi_araddr_o\[26\]
axi_araddr_o\[27\]
axi_araddr_o\[28\]
axi_araddr_o\[29\]
axi_araddr_o\[30\]
axi_araddr_o\[31\]
axi_arburst_o\[0\]
axi_arburst_o\[1\]
axi_arlen_o\[0\]
axi_arlen_o\[1\]
axi_arlen_o\[2\]
axi_arlen_o\[3\]
axi_arlen_o\[4\]
axi_arlen_o\[5\]
axi_arlen_o\[6\]
axi_arlen_o\[7\]
axi_arready_i
axi_arsize_o\[0\]
axi_arsize_o\[1\]
axi_arsize_o\[2\]
axi_arvalid_o
axi_rdata_i\[0\]
axi_rdata_i\[1\]
axi_rdata_i\[2\]
axi_rdata_i\[3\]
axi_rdata_i\[4\]
axi_rdata_i\[5\]
axi_rdata_i\[6\]
axi_rdata_i\[7\]
axi_rdata_i\[8\]
axi_rdata_i\[9\]
axi_rdata_i\[10\]
axi_rdata_i\[11\]
axi_rdata_i\[12\]
axi_rdata_i\[13\]
axi_rdata_i\[14\]
axi_rdata_i\[15\]
axi_rdata_i\[16\]
axi_rdata_i\[17\]
axi_rdata_i\[18\]
axi_rdata_i\[19\]
axi_rdata_i\[20\]
